---
eleventyComputed:
  url_long: '{{ data.url }}{{ data.baseUrl }}'
  title_long: '{{ data.author }} / {{ data.name }}'
  metagen: 
    title: '{{ data.name }}'
    name: '{{ data.author }}'
    desc: '{{ data.description | safe }}'
    generator: 'eleventy'
    comments: true
    url: '{{ url_long }}'
    site_name: '{{ title_long }}'
    og_title: '{{ title_long }}'
    img: '{{ data.img }}'
    img_alt: '{{ data.author }}'
    twitter_card_type: 'summary_large_image'
    twitter_handle: '{{ data.twitter_handle }}'
    twitter_title: '{{ title_long }}'
---
<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
<!-- eleventy plugin metagen -->
{% metagen metagen %}
{% include "partials/site-meta-head.njk" %}

    <link rel="stylesheet" href="{{ '/css/styles.css' | url }}">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/images/favicon_io/apple-touch-icon.png' | url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/images/favicon_io/favicon-32x32.png' | url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/images/favicon_io/favicon-16x16.png' | url }}">
    <link rel="manifest" href="{{ '/images/favicon_io/site.webmanifest' | url }}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QHTYKWLREY"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-QHTYKWLREY');
    </script>
  </head>
  <body>
    {{ content | safe }}
    <script>
      (function () {
        const links = document.querySelectorAll("a[href^='https://'], a[href^='http://']")
        const host = window.location.hostname

        const isInternalLink = link => new URL(link).hostname === host

        links.forEach(link => {
          if (isInternalLink(link)) return

          link.setAttribute("target", "_blank")
          link.setAttribute("rel", "noopener")
        })
      })()
    </script>
  </body>
</html>