<!DOCTYPE html>
<html lang="en" data-theme="light">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{ data.site.name }}</title>
    <link rel="stylesheet" href="{{ '/css/styles.css' | url }}">

    <link rel="apple-touch-icon" sizes="180x180" href="{{ '/images/favicon_io/apple-touch-icon.png' | url }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ '/images/favicon_io/favicon-32x32.png' | url }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ '/images/favicon_io/favicon-16x16.png' | url }}">
    <link rel="manifest" href="{{ '/images/favicon_io/site.webmanifest' | url }}">

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QHTYKWLREY"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-QHTYKWLREY');
    </script>

    {% include "partials/site-meta-head.njk" %}
  </head>
  <body>
    {{ content | safe }}
    <script>
      (function () {
        const links = document.querySelectorAll("a[href^='https://'], a[href^='http://']")
        const host = window.location.hostname

        const isInternalLink = link => new URL(link).hostname === host

        links.forEach(link => {
          if (isInternalLink(link)) return

          link.setAttribute("target", "_blank")
          link.setAttribute("rel", "noopener")
        })
      })()
    </script>
  </body>
</html>