---
layout: layouts/base.njk
---

<div class="bragdoc__section" id="bragdoc__section">
    
    {% include 'partials/site-head.html' %}

    <div class="bragdoc__container">
        
        <div class="bragdoc__profile">
            <img class="bragdoc__photo" src="{{ '/images/profile_picture.jpg' | url }}">
            <h1 class="bragdoc__name">Emily Y Leung</h1>
            <div class="role">Computational Designer</div>
        </div>

    	{% for post in collections.posts | reverse %}

        {% if post.data.public %}

        <div class="bragdoc__entry">
            <div class="bragdoc__entry-milestone"></div>

            <div class="bragdoc__entry-block">
                <span class="bragdoc__entry-date">
                    {{ post.data.date | dateDisplay }}
                </span>
                <br/>
                <h2 class="bragdoc__entry-title"><span class="bragdoc__icon">{{ post.data.icon }}</span> {{ post.data.name }}</h2>
                <div class="bragdoc__entry-content">
                    {{ post.templateContent | safe }}
                </div>
            </div>

            <div class="bragdoc__taglist">
            {% for tag in post.data.categories %}
                <span># {{tag}}</span>
            {%- endfor %}
            </div>

        </div>

        {%- endif %}

        {%- endfor %}

    </div>

    {% include 'partials/site-foot.html' %}

</div>
