:root, html[data-theme="light"] {
	--logo: black;
	--name: black;
	--entry-title: black;
	--date: #BDBDBD;
	--text: #676a6c;
	--entry-line: #f1f1f1;
	--entry-circle: #ddd;
	--background: white;
	--code-text: grey;
	--code-block: rgba(0,0,0,0.05);
	--link-text: #676a6c;
	--link-hover: orange;
	--quote-block-edge: rgba(255, 165, 0, 0.5);
	--quote-block-text: #676a6c;
	--table-border: #676a6c;
	--footer: #BDBDBD;
	--tag: #BDBDBD;
}

html[data-theme="dark"] {
	--logo: #FFF;
	--name: #FFF;
	--entry-title: #dedede;
	--date: rgba(255,255,255,0.3);
	--text: #999999;
	--entry-line: rgba(255,255,255,0.2);
	--entry-circle: rgba(255,255,255,0.3);
	--background: #121212;
	--code-text: rgba(255,255,255,0.5);
	--code-block: rgba(255,255,255,0.1);
	--link-text: rgba(255,255,255,0.5);
	--link-hover: orange;
	--quote-block-edge: rgb(255, 165, 0);
	--quote-block-text: rgba(255, 165, 0,0.5);
	--table-border: #999999;
	--footer: rgba(255,255,255,0.3);
	--tag: rgba(255,255,255,0.3);
}

body {
	font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	color: var(--text);
	overflow-x: hidden;
	background-color: var(--background);
	margin: 0;
	height: 100vh;
}

footer {
	margin: 0 auto;
	max-width: 500px;
	padding-bottom: 1.5em;
	text-align: center;
	color: var(--footer);
	padding-top: 2em;

	margin-top: 2em;
}

/* Bragdoc Logo */

.bragdoc__header {
	margin: 0;
	padding: 1em;
	font-size: 1.5em;
	color: var(--logo)
}

/* Bragdoc Body */

.bragdoc__section {
	height: 100%;
	display: grid;
	grid-template-rows: auto 1fr auto;
	margin: 0;
	padding: 0;
}

/* Bragdoc User Profile */

.bragdoc__profile {
	padding-top: 3em;
	padding-bottom: 2em;
}

.bragdoc__photo {
	width: 8em;
	border-radius: 100%;
	padding: 0;
	
	height: 8em;
	object-fit: cover;
}

.bragdoc__name {
	color: var(--name);
	margin-bottom: 0.25em;
}

.bragdoc__icon {
	font-family: "Segoe UI Emoji", Times, serif;
}

.bragdoc__container {
	max-width: 800px;
	/* Centre the Bragdoc*/
	/*margin: 0 auto; */
	margin: 0 0 0 30em;

	height: 100%;
}

.bragdoc__profile-role {
	margin: 0;
}

/* Individual Bragdoc Entry Blocks */

.bragdoc__entry {
	position: relative;
}

.bragdoc__entry:first-child {
	margin-top: 0;
}

.bragdoc__entry:before {
	height: 100%;
	position: absolute;
	background-color: var(--entry-line);
	width: 2px;
	content: "";
	top: 30px;
}

.bragdoc__entry:last-child:before {
	background-color: var(--background);
}

/* Entry Content */

.bragdoc__entry-block {
	margin-left: 1em;
	padding: 1em;
}

.bragdoc__entry-title {
	margin-top: 4px;
	color: var(--entry-title);
	font-size: 1.5em;
}

/*.bragdoc__entry-block h2 {
	margin-top: 4px;
	color: var(--entry-title);
}*/

.bragdoc__entry-date {
	line-height: 3em;
	color: var(--date);
}

/* Bragdoc milestone circle */

.bragdoc__entry-milestone {
	position: absolute;
	height: 5px;
	width: 5px;
	border: 2px solid var(--entry-circle);
	background-color: var(--background);
	left: 0;
	top: 30px;
	margin-top: -2px;
	margin-left: -3px;
	border-radius: 100px;
}

.bragdoc__taglist {
	margin-left: 1em;
	/*padding-left: 1em;*/
	/*padding-bottom: 1em;*/

	padding: 1em;
}

.bragdoc__taglist > * {
	border: 1px solid var(--tag);
	padding: 0.25em 0.5em 0.25em 0.5em;
	border-radius: 0.5em;
	margin-right: 1em;
}

/* Bragdoc Entry Content */

.bragdoc__entry-content > * {
	margin-bottom: 0.5em;
	margin-left: 0;
}

.bragdoc__entry-content > h1 {
	font-size: 1.15em;
}

.bragdoc__entry-content > h2, h3, h4, h5, h6 {
	font-size: 1em;
	/*padding-bottom: 0.5em;*/
	color: var(--text);
}

/* Make it responsive */

@media only screen and (max-width: 1400px) {

	.bragdoc__container {
		/* Centre the Bragdoc*/
		margin: 0 auto;
	}

	.bragdoc__entry-title {
		font-size: 1.25em;
	}
}

@media only screen and (max-width: 870px) {

	.bragdoc__container {
		padding-left: 2em;
		padding-right: 2em;
	}

	.bragdoc__entry-title {
		font-size: 1.15em;
	}
}

/* Everything else */

a {
	color: var(--link-text);
}

a:hover {
	color: var(--link-hover);
}

ul, ol {
	/*margin: 0;*/
	padding-left: 1.25em;
}

ul li {
	list-style: disc;
	line-height: 1.5em;
}

img, p > img {
	width: 100%;
	/*padding-top: 1em;*/
	/*padding-bottom: 1em;*/

	margin-bottom: 1em;
	margin-top: 1em;
}

blockquote {
	border-left: 3px solid var(--quote-block-edge);
	padding-left: 1em;
	line-height: 2em;
	font-style: italic;
	width: 100%
}

blockquote > p {
	color: var(--quote-block-text);
}

pre > code {
	display: inline-block; 
	width: 100px;
	font-family: 'Roboto Mono', monospace;
	padding: 1em;
}

pre {
	background: var(--code-block);
	color: var(--code-text);
	display: block;
	font-size: 0.9em;
	overflow-x: auto;
}

table, 
td, 
th {
	border-collapse: collapse;
    padding:0.5em;
}

table {
	margin-top: 1em;
	padding: 0;
	display: block;
	overflow-x: auto;
}

td, th {
	min-width: 100px;
	text-align: left;
}

td {
    border: 1px solid var(--table-border);
}

th {
	border-top: 1px solid var(--table-border);
	border-left: 1px solid var(--table-border);
	border-right: 1px solid var(--table-border);
}

