---
layout: "layouts/base.njk"
---

<div class="bragdoc__section" id="bragdoc__section">
    
    {% include 'partials/site-head.html' %}

    <div class="bragdoc__container">
        
        <div class="bragdoc__profile">
            <img class="bragdoc__photo" src="{{ '/images/profile_picture.jpg' | url }}">
            <h1 class="bragdoc__name">Emily Y Leung</h1>
            <div class="role">Systems Developer</div>
        </div>

    	{% for post in collections.posts | reverse %}

        {% if post.data.public %}

        {% include 'partials/bragdoc-entry.njk' %}

        {% endif %}

        {% endfor %}

    </div>

    {% include 'partials/site-foot.html' %}

</div>