<div class="bragdoc__entry">
    <div class="bragdoc__entry-milestone"></div>

    <div class="bragdoc__entry-block">
        <span class="bragdoc__entry-date">
            {{ post.data.date | dateDisplay }}
        </span>
        <br/>
        <h2 class="bragdoc__entry-title"><span class="bragdoc__icon">{{ post.data.icon }}</span> {{ post.data.name }}</h2>
        <div class="bragdoc__entry-content">
            {{ post.templateContent | safe }}
        </div>
    </div>

    <div class="bragdoc__taglist">
    {% for tag in post.data.categories %}
        <span># {{tag}}</span>
    {%- endfor %}
    </div>

</div>