<meta name="author" content="{{ data.site.author.name }}">
<meta name="description" content="{{ data.site.description }}">
<meta property="og:data.site_name" content="{{ data.site.author.name }} / {{ data.site.name }}">

<!-- HTML Meta Tags -->
<meta name="description" content="{{ data.site.description }}">

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="{{ data.site.author.name }} / {{ data.site.name }}">
<meta itemprop="description" content="{{ data.site.description }}">
<meta itemprop="image" content="{{ data.site.images.twitter }}">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="{{ data.site.url }}{{ data.site.baseUrl }}">
<meta property="og:type" content={{ pagetype }}>
<meta property="og:title" content="{{ data.site.author.name }} / {{ data.site.name }}">
<meta property="og:description" content="{{ data.site.description }}">
<meta property="og:image" content="{{ data.site.images.twitter }}">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ data.site.author.name }} / {{ data.site.name }}">
<meta name="twitter:description" content="{{ data.site.description }}">
<meta name="twitter:image" content="{{ data.site.images.twitter }}">
<meta name="twitter:image:alt" content="{{ data.site.author.name }}">
<meta name="twitter:data.site" content="{{ data.site.author.handle }}">

<meta name="pinterest-rich-pin" content="false" />