<meta name="author" content="{{ site.author.name }}">
<meta name="description" content="{{ site.description }}">
<meta property="og:site_name" content="{{ site.author.name }} / {{ site.name }}">

<!-- HTML Meta Tags -->
<meta name="description" content="{{ site.description }}">

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="{{ site.author.name }} / {{ site.name }}">
<meta itemprop="description" content="{{ site.description }}">
<meta itemprop="image" content="{{ site.url }}{{ site.baseUrl }}images/screenshot/{{ site.images.twitter }}">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="{{ site.url }}{{ site.baseUrl }}">
<meta property="og:type" content={{ pagetype }}>
<meta property="og:title" content="{{ site.author.name }} / {{ site.name }}">
<meta property="og:description" content="{{ site.description }}">
<meta property="og:image" content="{{ site.url }}{{ site.baseUrl }}images/screenshot/{{ site.images.twitter }}">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="{{ site.author.name }} / {{ site.name }}">
<meta name="twitter:description" content="{{ site.description }}">
<meta name="twitter:image" content="{{ site.url }}{{ site.baseUrl }}images/screenshot/{{ site.images.twitter }}">
<meta name="twitter:image:alt" content="{{ site.author.name }}">
<meta name="twitter:site" content="{{ site.author.handle }}">

<meta name="pinterest-rich-pin" content="false" />