<!-- consider removing, Google+ 
	https://stackoverflow.com/questions/29928974/what-is-the-purpose-of-meta-itemprop
	https://stackoverflow.com/a/29929151/5216425 -->
<meta itemprop="name" content="{{ title_long }}">
<meta itemprop="description" content="{{ data.description | safe }}">
<meta itemprop="image" content="{{ data.img }}">
<!-- Opt Out Pinterest https://developers.pinterest.com/docs/rich-pins/overview/ -->
<meta name="pinterest-rich-pin" content="false" />